.cards-wrapper {
  width: 160px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 5px;
  position: relative;

  .picture {
    width: 160px;
    height: 170px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    span {
      position: absolute;
      bottom: 0;
      left: 15px;
      margin: 0;
      font-size: 13px;
      font-weight: 400;
      color: #fff;
    }
  }

  .category {
    width: 160px;
    height: 30px;
    line-height: 30px;
    background-color: #004e96;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    padding-left: 15px;
  }

  .number {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 10px 0 10px 0;
    font-size: 12px;
  }
}
