@import '../../styles/index.scss';

main {
  height: 90vh;
  color: $color-main_01;
  display: flex;
  > div {
    width: 50%;
    overflow: hidden;
    margin: 1rem;
  }
  span {
    margin: 0 0.5rem;
  }
}
.mapContainer {
  border-radius: 10px;
  position: relative;
}

.cardsContainer {
  // display: flex;
  // flex-wrap: wrap;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
}

// Lucy
.tourism-container {
  width: 100vw;
  height: 100vh;
  display: flex;

  .map {
    width: 50%;
    height: 100%;
    padding: 30px;
  }

  main {
    width: 50%;
    height: 100%;
    border: 1px solid red;
    color: $color-main_01;
    padding: 0 20px;

    .nav-bar {
      height: 230px;
      background: $nav-color;
      border-radius: 0 0 8px 8px;
      position: relative;

      .page-title {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 30px;

        span {
          color: #ffffff;
          font-weight: bold;
        }

        .english-title {
          font-size: 45px;
        }

        .chinese-title {
          font-size: 25px;
        }
      }

      .filter {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        .choose-city {
          color: #ffffff80;
          font-size: 14px;
        }

        select {
          background: transparent;
          border-radius: 10px;
          border: 1px solid #ffffff;
          color: #ffffff;
        }
      }
    }
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}
