@import '../../styles/index.scss';

main {
  width: 100vw;
  height: 90vh;
  color: $color-main_01;
  display: flex;

  .mapContainer {
    width: 50%;
    overflow: hidden;
    margin: 1rem;
    border-radius: 10px;
    position: relative;
  }

  .main {
    width: 50%;
    height: 100%;
    border: 1px solid red;
    color: $color-main_01;
    padding: 0 20px;

    .navbar {
      width: 100%;
      height: 230px;
      background: $nav-color;
      border-radius: 0 0 8px 8px;
      position: relative;
      border-bottom: 1px solid #ff4f4f;
    }
  }
}

.categoryBar {
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .category {
    display: flex;
    align-items: center;

    .icon {
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .name {
      padding-left: 5px;
    }

    &:hover {
      cursor: pointer;
    }

    &.attractions {
      .icon {
        background-image: url('../../images/tourism/Eiffel-tower.svg');
      }
    }

    &.tasty {
      .icon {
        background-image: url('../../images/tourism/Restaurant.svg');
      }
    }

    &.activity {
      .icon {
        background-image: url('../../images/tourism/Confetti.svg');
      }
    }

    &.hotel {
      .icon {
        background-image: url('../../images/tourism/Home.svg');
      }
    }
  }
}

.cardsContainer {
  // display: flex;
  // flex-wrap: wrap;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
}
