.search {
  width: 20px;
  height: 20px;
  padding: 2px 5px;
  background: transparent;
  border: none;
  color: #ffffff;
  background-image: url('../../images/bike/Bike-search.svg');
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    cursor: pointer;
  }
}

.bikeStop {
  span {
    color: gray;
    margin-left: 10px;
  }
}